@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */

/* Color */

:root {
  /* Font Family */
  --sans-serif: "Poppins", sans-serif;

  /* Color */
  --primary: #ffd310;
  --secondary: #160240;
  --light: #ffffff;
  --light-alt: #dadada;
  --dark: #010c18;
  --dark-alt: #262a2c;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoohing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}

*::selection {
  background: var(--primary);
  color: var(--dark);
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark);
  font-family: var(--sans-serif);
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}

a:hover {
  text-decoration: none;
}

img,
video {
  width: 100%;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: var(--light-alt);
  line-height: 160%;
  letter-spacing: 0.3px;
}

p a {
  color: var(--light-alt);
  transition: 0.5s ease all;
}

p a:hover {
  color: var(--primary);
}

.heading {
  font-size: 35px;
  color: var(--light);
  margin-bottom: 30px;
  text-align: center;
}

.button {
  padding: 15px 30px;
  border: 0;
  outline: 0;
  background: var(--primary);
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.5s all ease;
}

.button:hover {
  background: var(--light);
  color: var(--dark-alt);
}

/* Color Changer */

.color-changer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-changer h5 {
  font-size: 20px;
  color: var(--light);
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
}

.color-changer .buttons {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}

.color-changer .buttons .button {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid var(--light);
  background: rgb(255, 211, 16);
  box-shadow: 0 0 20px #7a787873;
  cursor: pointer;
}

.color-changer .buttons .button:nth-child(1) {
  background: rgb(16, 227, 255);
}
.color-changer .buttons .button:nth-child(2) {
  background: rgb(16, 255, 56);
}
.color-changer .buttons .button:nth-child(3) {
  background: rgb(255, 159, 16);
}
.color-changer .buttons .button:nth-child(4) {
  background: rgb(255, 16, 215);
}
.color-changer .buttons .button:nth-child(5) {
  background: rgb(255, 16, 88);
}
.color-changer .buttons .button:nth-child(6) {
  background: rgb(16, 255, 155);
}
.color-changer .buttons .button:nth-child(7) {
  background: rgb(231, 255, 16);
}
.color-changer .buttons .button:nth-child(8) {
  background: rgb(255, 24, 16);
}
.color-changer .buttons .button:nth-child(9) {
  background: rgb(16, 92, 255);
}
.color-changer .buttons .button:nth-child(10) {
  background: rgb(120, 16, 255);
}

/* BMI Calculator */

.bmi-calculator {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi-calculator .card {
  background: var(--dark-alt);
  padding: 30px;
}

.bmi-calculator .card h2 {
  font-size: 30px;
  color: var(--light);
  font-weight: 600;
  margin-bottom: 30px;
}

.bmi-calculator .card .input-filed {
  margin-bottom: 20px;
}

.bmi-calculator .card h5 {
  font-size: 18px;
  color: var(--light-alt);
  font-weight: 400;
  margin-bottom: 15px;
}

.bmi-calculator .card .input-filed label {
  font-size: 16px;
  color: var(--light-alt);
  font-weight: 400;
  margin-right: 20px;
}

.bmi-calculator .card .input-filed input {
  padding: 15px 20px;
  width: 100%;
  border: 0;
  background: var(--light-alt);
  font-size: 16px;
}

.bmi-calculator .card .result h4 {
  font-size: 18px;
  color: var(--light-alt);
  font-weight: 400;
  margin-bottom: 20px;
}

/* Digital Clock */

.digital-clock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digital-clock .clock {
  background: var(--primary);
  padding: 20px;
  display: inline-block;
}

.digital-clock .clock h4 {
  font-size: 22px;
  color: var(--dark);
  font-weight: 600;
}

/* Guess Number */

.guess-number {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guess-number h3 {
  font-size: 22px;
  color: var(--light);
  font-weight: 600;
  margin-bottom: 20px;
}

.guess-number .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guess-number .para {
  margin-bottom: 15px;
  text-align: center;
}

.guess-number .input-num {
  width: 100px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #ffffff91;
  background: none;
  color: var(--light);
  text-align: center;
}

.guess-number .info {
  text-align: center;
}

.guess-number h4 {
  font-size: 20px;
  color: var(--light);
  font-weight: 500;
  margin: 20px 0;
  color: #ffea8c;
}
